<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">StudentManager</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <button class="btn btn-link nav-item"><a class="nav-link" href="{% url 'signup' %}"></a><button type="button" class="btn btn-primary">Signup
        <button class="btn btn-link nav-item"><a class="nav-link" href="{% url 'signin' %}"></a><button type="button" class="btn btn-success">Signin
        <button class="btn btn-link nav-item"><a class="nav-link" href="{% url 'signout' %}"></a><button type="button" class="btn btn-danger">Signout
      </ul>
    </div>
  </div>
</nav>