{% extends "base.html" %}

{% block content %}
<table></table>
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Ім'я</th>
            <th>Прізвище</th>
            <th>Вік</th>
            <th>Клас</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.class_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}